[submodule "themes/aether"]
	path = themes/aether
	url = https://github.com/josephhutch/aether.git
[submodule "themes/liva-hugo"]
	path = themes/liva-hugo
	url = https://github.com/themefisher/liva-hugo.git
